 <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>showexpanses</ion-title>
  </ion-toolbar>
</ion-header>


   
<div class="row row-cols-1 row-cols-md-3 g-4">


  <div class="col" *ngFor="let x of comming; let i = index">
    <div class="card">
      <div class="card-body">
        <div class="card-text">{{x.description}}</div>
        <div class="card-text">{{x.amount}}</div>
        
  <ion-button expand="block" color="warning" type="submit" (click)="del(x.id)">delete</ion-button>


      </div>
    </div>
  </div>


</div> 

