<ion-content>

  <div class="header">
    <div>
<h1> hello</h1>
<strong> {{name}}</strong>
    </div>

  <ion-button color="light"  routerLink="/logout">
    <ion-icon slot="icon-only" color="danger" name="log-out" > </ion-icon>
</ion-button>

  </div>  

  <div class="summary">
<strong>your total expense</strong>
<h1>2000</h1>
  </div>


  <div id="container">

    <div routerLink="/showexpanses">
<ion-icon name="list"></ion-icon>
<strong>view Expense</strong>
  </div>


  <div routerLink="/home">
<ion-icon name="add"></ion-icon>
<strong>Add Expense</strong>
</div>

</div>
 
</ion-content>

